body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: rgb(170, 149, 29);
}

header 
{
    background-color: #a16710;}
   header h1 {
    margin: 0; }
   header h1 a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

footer 
{
    padding: 0 15px;
    text-align: center;
}


nav ul li a
{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 0; 
}

nav ul li a :hover
{
    text-decoration: underline;
    color: white;
    font-weight: bold;
    padding: 8px 0;
}

nav ul li a :active
{
    text-decoration: underline;
    color: white;
    font-weight: bold;
    padding: 8px 0;
}

nav ul li a :visited
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 8px 0;
}

#container{
    width: 100%;
    margin: auto;
    max-width: 1350px;
    max-height: 600px;
}

nav ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
}
nav li:first-child{
    border-left: none;
}

nav ul{
    padding-left: 0;
    list-style: none;
}


/* .left-float{ */
    /* float: left; */
    /* padding: 0 15px 15px 0; */
/* } */

.section{
    padding: 0 10px 10px 0;
}

.section img{
    width: 100%;
}

.sidebar{
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 70px 0 0 10px;
}