body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: rgb(170, 149, 29);
}

#container 
{
    width: 100%; 
}
#content,
footer 
{
    padding: 0 15px; 
}

#logo
{
    text-align: center;
    margin: 0;
}

header {
    background-color: #a16710;}
   header h1 {
    margin: 0; }
   header h1 a {
    color: rgb(0, 0, 0);
    text-decoration: none; }

    nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: column; }

        nav ul li {
            border-bottom: 1px solid rgb(0, 0, 0);
            padding: 5px; }

            nav ul li a {
                font-weight: bold;
                text-decoration: none;
                color: rgb(0, 0, 0);
                padding: 8px 0; }

.section img 
{
    width: 100%;
    height: auto; 
}

footer 
{
    border-top: 1px solid rgb(0, 0, 0);
    margin: 20px 10px 10px 0;
    font-size: 1em;
    text-align: center;
    font-style: italic; 
}

/* .left-float{ */
    /* float: none; */
    /* padding: none; */
/* } */